@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto+Condensed:300,400,700');

/* Main */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.9em;
  color: #444;
  background-color: rgb(247, 254, 255);
}

.reveal .slides {
  text-align: left;
}

.reveal strong {
  font-weight: 700;
  color: #111;
}

.reveal em {
  font-style: italic;
}

.reveal section img {
  display: block;
  margin: 5px auto;
}

.reveal hr {
  transform: translateY(20px);
  background-color: rgb(231, 103, 97);
  height: 1px;
  border: 0;
}

.reveal .slide h1 {
  color: rgb(1, 123, 147);
  font-weight: 700;
  letter-spacing: -2px;
  font-size: 40px;
  margin: 10px 0 30px;
  text-transform: uppercase;
}

.reveal .slide h2 {
  color: rgb(1, 123, 147);
  letter-spacing: -2px;
  font-size: 30px;
  margin: -35px 0 35px;
  font-weight: 300;
}

.reveal p {
  font-weight: 600;
  color: #333;
}

.reveal p.normal {
  font-weight: 400;
}

/* Lists */

#univ_options {
  columns: 2;
  margin: 10px 0 0 25px;
}

.reveal ul, .reveal ol {
  padding: 0;
  margin-left: 3em;
  font-weight: 400;
}

.reveal ul li {
  list-style-type: none;
}

.reveal ul li:before {
  content: '\25B9';
  margin-left: -1em;
  position: absolute;
  color: rgb(231, 103, 97);
}

.reveal ol li {
  list-style-type: decimal;
}

.reveal ul ul li:before {
  content: '-';
  font-weight: 400;
  margin-left: -1em;
  position: absolute;
}

.reveal ul ul ul li:before {
  content: '\00B7';
}

/* Tables */

.table-wrapper {
  height: 500px;
}

.reveal table {
  width: 100%;
  text-align: center;
  line-height: 1.6em;
  font-size: 13px;
  border-spacing: 0;
}

.reveal th, .reveal td {
  background-color: rgb(247, 254, 255);
}

.reveal table tr td:nth-of-type(1) {
  text-align: left;
  padding-right: 8px;
}

.reveal table thead tr:last-child th {
  border-bottom: 1px solid #444;
}

.reveal table .bold {
  font-weight: 700;
}

/* .reveal table .blank {
  pointer-events: none;
} */

.reveal table .indent {
  padding-left: 6px;
}

.reveal table td:empty:after{
  content: "\00a0";
}

/* Links */

.reveal a {
  cursor: pointer;
  color: rgb(51, 110, 184);
  transition: color 0.1s;
  text-decoration: none;
}

.reveal a:hover {
  text-decoration: underline;
}

.reveal .btn {
  top: 10px;
  border: rgb(231, 103, 97) 1.5px dashed;
  color: rgb(231, 103, 97);
  border-radius: 10px;
  font-size: 16px;
  padding: 6px;
}

.reveal .btn:hover {
  border: gray 1.5px solid;
  color: gray;
  text-decoration: none;
}

/* Text */

.reveal span.univ-name {
  font-family: 'Roboto Condensed';
  float: right;
  font-size: 20px;
  margin: 10px 0;
  color: #444;
}

.reveal .logo {
  font-family: 'Roboto Condensed';
  float: right;
  font-size: 18px;
  font-weight: 300;
  margin: 5px 0;
}

/* PDF */

@media print {
  .backgrounds {
    background-color: rgb(247, 254, 255);
  }
}
